gunicorn>=23.0.0

# Core dependencies
Flask==3.0.3
python-telegram-bot>=21.4
yt-dlp[default]>=2025.11.12

# Para extrator Shopee customizado
requests
beautifulsoup4==4.12.3
lxml==5.1.0

#API PIX Mercado Pago
mercadopago==2.2.1
Pillow==10.1.0

# IA APIs
groq>=0.11.0             # Groq (gratuito)

werkzeug==3.0.1
psutil
