gunicorn>=23.0.0

# Core dependencies
Flask==3.0.3
python-telegram-bot==21.4
yt-dlp>=2024.12.23

# Para extrator Shopee customizado
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

#API PIX Mercado Pago
mercadopago==2.2.1
Pillow==10.1.0

# IA APIs
groq>=0.11.0             # Groq (gratuito)

#Remoção Marca Dagua Shopee
opencv-python==4.9.0.80
